@font-face {
  font-family: Nunito-black;
  src: url("./assets/fonts/Nunito/static/Nunito-Black.ttf");
}
@font-face {
  font-family: Nunito-b;
  src: url("./assets/fonts/Nunito/static/Nunito-Bold.ttf");
}

@font-face {
  font-family: Nunito;
  src: url("./assets/fonts/Nunito/static/Nunito-Light.ttf");
}

@font-face {
  font-family: Nunito-semiblod;
  src: url("./assets/fonts/Nunito/static/Nunito-SemiBold.ttf");
}

@font-face {
  font-family: Nunito-Medium;
  src: url("./assets/fonts/Nunito/static/Nunito-Medium.ttf");
}
* {
  font-family: "Nunito";
}

/* navbar style start here --------- */

nav.navbar.navbar-expand-lg.bg-body-tertiary {
  width: 100%;
  background: white !important;
  border-bottom: 2px solid #c9c9c9;
  margin: 10px 30px;
  padding-bottom: 8px;
}
#navbarSupportedContent {
  justify-content: right !important;
}
a.nav-link {
  color: #00085d;
  font-weight: 600;
}
.navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link {
  color: #00085d;
}
.navbar {
  padding: 0px;
}
a.nav-link.visit-website {
  text-decoration: underline;
}
ul.navbar-nav {
  text-transform: uppercase;
}

button.navbar-toggler:focus-visible,
button.navbar-toggler:hover,
button.navbar-toggler:active {
  outline: none;
}
/* navbar style end here --------- */

/* firts-section style start here --------- */
.frist-section {
  background: #f3f4ff;
  background-image: url(./assets/img/Tiny_particals.png);
  border-radius: 25px;
  margin: 11px 10px;
  padding: 20px 20px 20px 35px;
  position: relative;
  background-size: cover;
}

h1.heading-label {
  font-family: "Nunito-b";
  font-weight: bold;
  color: #00085e;
  max-width: 440px;
  font-size: 47px;
  border-bottom: 1px solid #d6d6d6;
  padding-bottom: 12px;
}

p.para-txt {
  color: #24a8df;
  margin: 0px;
  font-weight: bold;
}

.next-generation {
  display: flex;
}

img.vector-img {
  width: 2rem;
  margin-right: 12px;
}

p.next-gen-txt {
  max-width: 416px;
  color: #00085d;
  font-weight: bold;
  margin-bottom: 0px;
}

button.learn-more-btn {
  background: #46c6fb;
  border-radius: 13px;
  border: none;
  padding: 12px;
  color: #2333d1;
  font-weight: bold;
  margin-right: 12px;
}
button.book-demo-btn {
  background: #2333d1;
  border-radius: 13px;
  border: none;
  padding: 12px;
  color: #fff;
  font-weight: bold;
}

.btn-group {
  margin-top: 20px;
}

.content-first {
  margin: auto;
}

img.home-gif {
  mix-blend-mode: multiply;
  /* width: 80%; */
  max-width: 400px;
  float: right;
}
/* firts-section style end here --------- */

/* How it Works style start here --------- */

.how-it-work {
  text-align: center;
  margin: 60px auto;
  max-width: 800px;
  position: relative;
}

h1.how-it-work-txt {
  font-size: 30px;
  font-weight: bold;
  font-family: "Nunito-b";
}
img.how-it-work-img {
  width: 65%;
  margin-top: 15px;
}
.right-border {
  border-right: 2px solid #bbbbbb;
}
.text-content {
  text-align: left;
}
.text-content-1 {
  text-align: right;
}
h2.how-heading {
  font-size: 18px;
  font-weight: bold;
  color: #000;
}
p.how-para-txt {
  font-size: 14px;
  color: #313131;
}
.circle-num {
  background: #46c5fb;
  width: 24px;
  height: 24px;
  text-align: center;
  border-radius: 60px;
  color: white;
  font-weight: bold;
}
.circle-num-1 {
  background: #46c5fb;
  width: 24px;
  height: 24px;
  text-align: center;
  border-radius: 60px;
  color: white;
  display: inline-block;
  font-weight: bold;
}

.api-img {
  width: 15rem;
}
.git-chain-img {
  width: 20rem;
}

img.dashed-line {
  position: absolute;
  width: 25%;
  right: 21rem;
  top: 9rem;
}
/* How it Works style end here --------- */

/* key Features style start here --------- */

.key-features {
  background: #00085e;
  color: #fff;

  padding: 70px;
}

p.key-feature-txt {
  margin: 0px 0px 6px 0px;
}
.circle-1,
.circle-2,
.circle-3 {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background: #2d358d;
  border: 1px solid #00085d;
}
img.mutli-circle-img {
  width: 12rem;
}
.circle-group {
  position: relative;
}
.circle-1 {
  position: absolute;
  top: 8px;
  left: -2px;
}
.circle-2 {
  position: absolute;
  top: 5px;
  left: -4px;
}
.circle-3 {
  position: absolute;
  top: 2px;
}
p.feature-heading {
  margin: 0px;
  font-weight: bold;
  color: #ccd0ff;
  font-size: 15px;
}
p.feature-para {
  margin: 0px;
  color: #e9c6da;
  font-size: 13px;
}
.flex {
  margin: 12px 0px;
  display: flex;
}
.key-feature-content {
  margin-left: 54px;
}
/* key Features style end here --------- */

/* testimonials style start here --------- */
.testimonials {
  padding: 70px;
}
.testimonials-card {
  display: flex;
  box-shadow: 0px 14px 55px rgb(0 0 0 / 14%);
  border-radius: 13px;
  background: #fff;
  padding: 12px 18px;
  margin: 30px 0px 15px 0px;
}
img.user-logo {
  width: 50px;
  height: 50px;
}
p.user-role {
  margin: 0px;
}
p.user-name {
  margin: 0px;
}
.user-details {
  margin-left: 15px;
}
img.five-star-img {
  width: 7rem;
  height: 20px;
  margin-bottom: 8px;
}
p.user-info-txt {
  margin: 0px;
  color: #000;
  font-weight: bold;
}
p.user-name-txt {
  margin: 0px;
  font-size: 13px;
  font-style: italic;
}
p.description {
  font-size: 13px;
  font-weight: bold;
}
.margin-auto {
  margin: auto 0px;
}
/* testimonials style end here --------- */

/* get-started style start here --------- */

.get-started {
  text-align: center;
  background: #e4f7ff;
  margin: 15px auto 40px auto;
  padding: 54px;
  background-image: url(./assets/img/Tiny_particals.png);
  background-size: cover;
}
.subscribe-field {
  position: relative;
  text-align: center;
  margin: auto;
  max-width: 500px;
}
input.form-control {
  background: #ffffff;
  border-radius: 54.5px;
  border: none;
  padding: 13px 20px;
  height: 66px;
}
input.form-control:focus-visible {
  outline: none;
}
button.subscribe-btn {
  background: #00085e;
  border-radius: 45.5px;
  color: #fff;
  padding: 15px 30px;
  right: 8px;
  top: 6px;
  border: none;
}
h1.get-start-heading {
  font-family: "Nunito-b";
  color: #000000;
}
p.start-desc {
  color: #5a5a5a;
}
/* get-started style end here --------- */

/* latest post style start here --------- */
.latest-post {
  padding: 70px;
}
img.latest-post-img {
  width: 100%;
}
h1.latest-post-heading {
  font-family: "Nunito-b";
  margin-bottom: 40px;
  color: #000000;
}
p.card-heading {
  color: #000;
  font-weight: bold;
  font-size: 22px;
  margin: 8px 0px;
}
p.post-description {
  font-size: 18px;
  color: #282828;
}
.post-card {
  background: #ffffff;
  box-shadow: 0px 4px 20px rgb(0 0 0 / 10%);
  padding-top: calc(var(--bs-gutter-x) * 0.5);
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-bottom: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  height: 100%;
}
img.post-circle {
  width: 18rem;
  position: absolute;
  right: -55px;
  z-index: -1;
  bottom: -10rem;
}
/* latest post style end here --------- */

/* launch form style start here --------- */

.left-content {
  background-color: #00085d;
  color: white;
  padding: 30px;
}
.launch-heading {
  color: #a3abfb;
  font-size: 45px;
  font-weight: bold;
}

.launch-para-txt {
  color: #e9c6da;
  border-bottom: 1px solid #a3abfb;
  padding-bottom: 20px;
}
.list-li {
  color: #e9c6da;
  margin: 15px 0px;
  list-style: none;
}

.launch-list {
  margin-top: 25px;
}
li:before {
  content: "\2022";
  display: block;
  position: relative;
  max-width: 0px;
  max-height: 0px;
  left: -24px;
  top: -9px;
  color: #a3abfb;
  font-size: 26px;
}
.list-heading {
  color: #a3abfb;
  font-size: 23px;
  font-weight: bold;
}

.form-heading {
  color: #000;
  font-weight: bold;
  font-size: 23px;
}
.right-content {
  max-width: 400px;
  margin: auto;
  padding: 30px
}
.form-control-demo {
  width: 100%;
  border: 1px solid #b3b0b0;
  border-radius: 6px;
  height: 42px;

}
.inp-box {
  margin-top: 15px;
}
button.request-btn {
  width: 100%;
  border: none;
  background: #00085D;
  color: white;
  padding: 12px;
  border-radius: 6px;
  margin-top: 10px;
}
.form-control-demo:focus-visible{
  outline: none;
}

/* launch form style end here --------- */

/* footer style start here --------- */

.footer {
  background: #e4f7ff;
  padding: 60px 40px 20px 40px;
}
h1.footer-heading {
  font-family: "Nunito-b";
  color: #00344a;
}

p.footer-desc {
  color: #00344a;
  font-size: 15px;
  font-weight: bold;
}
.logo-footer-col {
  margin: auto 0px;
}

ul.footer-menu-ul {
  list-style: none;
  /* display: flex; */
  padding: 0px;
  margin-top: 35px;
}
li.footer-menu-li {
  margin-right: 40px;
}
a.footer-menu-a {
  color: #00344a;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}
.footer-info {
  border-bottom: 1px solid #00344a;
  padding-bottom: 40px;
}

img.social-media-img {
  border: 1px solid #00344a;
  border-radius: 58%;
  padding: 10px 8px;
  margin: 0px 5px;
}
.footer-social {
  margin-top: 25px;
}

p.term-txt {
  margin: auto 10px auto 10px;
  font-weight: bold;
  color: #00344a;
  font-size: 18px;
}
/* .img-group {
  border: 1px solid #00344a;
  border-radius: 60px;
  width: 69px;
  height: 69px;
  margin: 0px 5px;
} */
.social {
  justify-content: right;
}
.term {
  justify-content: left;
}
.d-flex {
  display: flex !important;
  margin-bottom: 20px;
}
.copyright {
  color: #00344a;
  text-align: center;
}
p.copyright-txt {
  font-weight: bold;
}
/* footer style end here --------- */

/* custom responsive css */
@media (min-width: 576px) {
  .logo-footer-col {
    margin-bottom: 30px;
  }
}

@media (max-width: 576px) {
  h1.heading-label {
    font-size: 35px;
  }
  .social,
  .term {
    justify-content: center;
  }
  .text-content-1 {
    text-align: left !important;
}
.how-it-work {
  padding: 30px;
}
.right-border {
  border-right: none;
}
}

@media (max-width: 910px) {
  .home-gif {
    display: none;
  }
}

@media (max-width: 768px) {
  .multicricle {
    display: none;
  }
  .social,
  .term {
    justify-content: center;
  }
}
@media (max-width: 361px) {
  img.social-media-img {
    width: 2.5rem;
  }
  p.term-txt {
    font-size: 14px;
  }
}

@media (max-width: 450px) {
  input.form-control {
    height: 55px;
  }
  button.subscribe-btn {
    padding: 10px 18px;
  }
  .get-started {
    padding: 20px;
    margin: 15px auto 15px auto;
  }
}
